{
  "openapi": "3.1.0",
  "info": {
    "title": "Tavly AI API",
    "description": "API reference for managing voice and chat agents, executing calls, and handling webhooks with Tavly AI.",
    "version": "1.0.0",
    "contact": {
      "name": "Tavly AI Support",
      "email": "support@tavly.it",
      "url": "https://www.tavly.it"
    }
  },
  "servers": [
    {
      "url": "https://api.tavly.it/v1",
      "description": "Production Server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/agents": {
      "get": {
        "summary": "List or Get Agents",
        "description": "Retrieve a list of configured Tavly AI agents or details for a specific agent.",
        "operationId": "getAgents",
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "required": false,
            "description": "Optional unique identifier of the agent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of agents.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "summary": "Create Agent",
        "description": "Create a new single-prompt, multi-prompt, or conversation flow agent.",
        "operationId": "createAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload parameters."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/agents/{agent_id}": {
      "delete": {
        "summary": "Delete Agent",
        "description": "Permanently remove an existing Tavly AI agent.",
        "operationId": "deleteAgent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the agent to delete.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "agent_12345"
                    },
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent not found."
          }
        }
      }
    },
    "/webhooks/call-events": {
      "post": {
        "summary": "Call Event Webhook Handler",
        "description": "Endpoint structure used by Tavly AI to dispatch real-time call and chat event notifications to your server.",
        "operationId": "handleCallWebhook",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received and acknowledged."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "API key is missing or invalid.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Unauthorized access. Invalid API Key."
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "agent_98765"
          },
          "name": {
            "type": "string",
            "example": "Customer Support Agent"
          },
          "type": {
            "type": "string",
            "enum": [
              "single_prompt",
              "conversation_flow"
            ],
            "example": "single_prompt"
          },
          "voice": {
            "type": "string",
            "example": "expressive-en-us-1"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-31T10:00:00Z"
          }
        }
      },
      "CreateAgentRequest": {
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Inbound Receptionist"
          },
          "type": {
            "type": "string",
            "enum": [
              "single_prompt",
              "conversation_flow"
            ],
            "example": "single_prompt"
          },
          "prompt": {
            "type": "string",
            "example": "You are a helpful customer support agent for Tavly AI."
          },
          "voice": {
            "type": "string",
            "example": "expressive-en-us-1"
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "example": "call.completed"
          },
          "call_id": {
            "type": "string",
            "example": "call_abc123"
          },
          "duration": {
            "type": "integer",
            "example": 142
          },
          "status": {
            "type": "string",
            "example": "ended"
          },
          "transcript": {
            "type": "string",
            "example": "Hello, how can I help you today?..."
          }
        }
      }
    }
  }
}